.about{
    opacity: 0;
    animation: about 1s ease-in-out forwards;
}

@keyframes about{
     from{
        opacity: 0;
        transform: translateY(300px);
     }to{
        opacity: 1;
        transform: translateY(0);
     }
}